  html, body {
      margin: 0;
      color:#F4F4F4;
      font-family: 'Poppins', sans-serif!important;   
      padding: 0;
      background-color: #06111C;
      overflow-x:hidden ;
  }
  .fw-5{
    font-weight: 500;
  }
  .fw-7{
    font-weight: 700;
  }
  a{
    text-decoration: none;
  }
  .mb-6{
    margin-bottom:40px;
  }
  .my-6 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .py-6 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .py-7{
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .pd-6{
    padding:64px;
  }
  .text-color{
    color: #BAB8CC;
    }
  p{   
    font-size: 22px;
    line-height: 30px;
    font-weight: 400; 
    }
    .custom-p {
      font-size: 16px;
      line-height: 22px;
      }
    .btn.btn-primary{
      padding:12px 24px;
      justify-content: center;
      font-size:16px;
      line-height: normal;
      border:1px solid #867EE8;  
      border-radius:16px!important;
      background:var(--color-purple, #867EE8);}
    /* comman button */
    .btn.btn-primary:hover{
      background-color:#5E57B4;
    }
    .mt-6{
      margin-top:100px;
    }
    h1{
      font-size:52px;
  } 
  h5{
    font-size: 20px;
  }
  .mt-7{
      margin-top:160px!important;
    }
  #navbar {
    background-color: transparent;
    transition: background-color 0.2s ease;
  }
  #navbar.scrolled {
    background-color: #06111C;
  }
  .nav-link{  
  color:white;
  margin-right:20px;
  }
  .nav-link:hover{
    color: white;
  }
  /* home starts */  
  .hero-section{ 
    background: linear-gradient(180deg, rgba(6, 17, 28, 0) 34.38%, #06111c 100%), url(/asset/images/bgimage.png) center center;
    background-size: cover;
  }
  .color-word{
    color:#867EE8;
  }
  #btn {
    background-color:#29D9D0;
    color: black;
    border:none;  
      }
  #btn:hover{
  background-color:#1A9990;
  border:none;
      }
  .featured{
  margin-bottom: 80px;
  margin-right:20px
  }
  .tag-line{
  font-size: 22px;
  line-height:34px;
  margin-bottom:40px;
  padding-top:40px;
  }
  /* Vision starts */
  .shaded-line{
      padding: 8px;
      border-left:4px solid #867EE8;
  } 
  .video>a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video .play-button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 20px !important;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .modal-dialog iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

  /* Products start */
  .product-background{
  background-image:url('/asset/images/Ellips.svg');
  width: 100%;
  background-repeat:no-repeat;
  }
  .box{
    width:auto;
    height:auto;
    border-radius:24px;
    background-color:#001926;
    backdrop-filter: blur(10px)!important;
    margin-bottom: 24px;
  }
  /* Roadmap start */
  .inner-swiper-complete{
    background-color: #001926;
    border: 2px solid #001926 ;
    border-radius: 16px;
    padding: 24px;
    }
  .inner-swiper-progess{
    background: linear-gradient(90deg, rgba(134, 126, 232, 0.16) 0%, rgba(134, 126, 232, 0.00) 100%), #06111C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    padding: 24px; 
  }
  .inner-swiper-coming{
  background-color:#06111C;
  border-radius: 16px;
  padding: 24px; 
  border: 2px solid #001926;
  }
  .swiper-slide-active{
      border: 3px solid var(--color-purple, #867EE8);
      border-radius: 16px; 
      background: linear-gradient(90deg, rgba(134, 126, 232, 0.16) 0%, rgba(134, 126, 232, 0.00) 100%), #06111C;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
      margin-bottom: 10%;
    }
  .swiper-container{
      width:414px;
      margin:auto;
    }
  .bi{
      font-size:30px;
    }
  .complete{
      color: #06111C;
      font-size: 12px;
      padding:4px;
      border-radius: 4px;
      background-color:#00D98D;
    } 
  .progess{
    color: #06111C;
    font-size: 12px;
    padding:4px;
    border-radius: 4px;
    background-color:#29D9D0;
  } 
  .coming{
    font-size: 12px;
    padding:4px;
    border-radius: 4px;
    background-color:#001926;
  } 
  .series{
    color: var(--color-purple, #867EE8);
  }   
  /* tokenomics */
  .tokenomics-background{
    background-image:url('/asset/images/Ellise.svg')!important;
  width: 100%;
    background-repeat:no-repeat!important;
    }
  /* team section */
  .card{
  color:white;
    background-color:#001926;
    border-radius: 16px;
    max-width: 414px;
  }
  /* faq starts */
  #accordhead{
    background-color: #001926 !important; 
    box-shadow: none;
    border-radius: 16px;
    line-height: 50px;
  }
  .accordion-button{
    padding: 0px;
    padding-right: 10px;
    padding-left:20px;
  }
  .accordion-button:not(collapsed){
    color: white!important;
  }
  #accordionExample .accordion-item {
  border-radius:16px;
  background-color: #001926; 
  border:2px solid #001926 !important;
  margin-top:24px ;
  }
  #accordhead.accordion-button::after{
  background-image:url("/asset/images/chevron-down.svg");
  }
  .accordian-image {
    max-width: 100%;
    height: auto;
  
  }
  /* Get started */
  .started-background{
    background-image: url('/asset/images/elie.svg'), url('/asset/images/Ellipse.svg');
    background-size: cover;

    margin-right: 20px;
    width: 100%; 
    border-radius: 20px;  
  }
  .telegram-button{
  background-color:#296FD9!important;
  border:none!important;
  }
  .telegram-button:hover{
    background-color:#155BBC!important;
  }
  .text-decoration-underline:hover{
    color:#BAB8CC;
  }
  /* footer starts */
  .footer {
    background-color: #001926;
  }

  @media screen and (max-width: 1199.97px) {
.navbar, ul, li {
        margin: 0 10px;
    }
  }

  @media screen and (max-width: 991.97px) {
  h1 {
        font-size: 40px;
    }
    p {
        font-size: 19px;
    }
    .pd-6 {
        padding: 50px;
    }
    .my-6 {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .py-6 {
        padding-top: 75px;
        padding-bottom: 75px;
    }
    
  }
  @media screen and (max-width: 575.97px) {
    .my-6 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .mt-6 {
        margin-top: 24px;
    }
    .pd-6 {
        padding: 24px;
    }
    p {
        font-size: 16px;
        line-height: 22px;
    }
    h3 {
        font-size: 32px;  
        line-height: 38px;
    }
  h1{
        font-size: 40px;
    }
    .py-6 {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .modal-dialog {
        max-width: 100%;
    }
    .btn.btn-primary{
        display: block;
    }
    .btn.btn-primary {
        width: 100%;
    }
    .navbar ul li {
        margin: 14px 0;
    }
    .modal-body {
        padding: 0;
    }
    .cus-p {
      font-size: 14px;
      line-height: 20px;
  }
  .modal-dialog {
          max-width: 100%;
      }
      .modal-body {
          padding: 0;
      }
  }