  html, body {
      margin: 0;
      color:#F4F4F4;
      font-family:"Luxora Grotesk", sans-serif!important;   
      padding: 0;
      background-color: #06111C;
      overflow-x:hidden ;
  } 
  a{
    text-decoration: none;
  }
  img{
    width:auto;
    height:auto;
    max-width: 100%;
  }
  .py-12 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  
  .grey-text{
    color: #BAB8CC;
    }
  p{   
    font-size: 16px;
    line-height: 25px;
    font-weight: 400; 
    margin:0;
    }
    .btn{
      padding:12px 24px;
      font-size:16px;
      font-weight: 500;
      border:none;  
      border-radius:16px;
     }
    /* comman button */
    .btn-primary{
      background-color: #867EE8;
    }
    .btn-seceondary{
      background-color: #296fd9;
      color: white;
    }
    .btn-seceondary:hover{
      background-color: #155BBC;
    }
    .btn.btn-primary:hover{
      background-color:#5E57B4;
    }
    .btn-success{
      background-color: #29D9D0;
      color: black;
    }
    .btn-success:hover{
      background-color:#1A9990; 
    color: black;
    }
    .mt-6{
      margin-top:80px;
    }
    .mb-7{
      margin-bottom:64px;
    }
    .fs-20{
      font-size: 20px;
    }
    .fs-22{
      font-size: 22px;
    }
  h1{
      font-size:52px;
      font-weight: bold;
  } 
  h2{
    font-size: 56px;
    font-weight: bold;
  }
  h3{
    font-size:32px;
  }
  h4{
    font-size: 20px;
    margin-top: 15px;
  }
  h5{
    font-size:18px;
    font-weight: 400;
  }
  .navbar {
    background-color: transparent;
    width: 100vw;
    transition: background-color 0.2s ease;
  }
  .navbar.scrolled {
    background-color: #06111C;
  }
  .nav-link{  
  color:white;
  
  }
  .nav-link:hover{
    color: white;
  }
  /* home starts */  
  .hero-section{ 
    background: linear-gradient(180deg, rgba(6, 17, 28, 0) 34.38%, #06111c 100%), url(/asset/images/bgimage.png) center center;
    background-size: cover;
  }
  .text-purple{
    color:#867EE8;
  }
  .featured{
  margin-bottom: 80px;
  margin-right:20px
  }
  .tag-line{
  font-size: 22px;
  line-height:34px;
  margin-bottom:40px;
  padding-top:40px;
  }
  /* Vision starts */
  .shaded-line{
      padding: 8px;
      font-size: 22px;
      border-left:4px solid #867EE8;
  } 
  .image-wrapper{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .vision-section button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video .play-button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 20px;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .modal-dialog iframe {
        width: 100%;
        height:100vh;
       aspect-ratio: 16/9;
    }
  /* Products start */
  .product-section{
  background-image:url('/asset/images/Ellips.svg');
  background-repeat:no-repeat;
  width: 100%;
  }
  .product-cards-layout{
    padding:64px;
    background-color:#001926;
    backdrop-filter: blur(10px);
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  /* Roadmap start */
  .roadmap-section .card{
    border-radius: 16px;
    border: 3px;
    padding: 24px;    
  }
  .complete{
    background-color: #001926;
    }
  .progess{
    background: linear-gradient(90deg, rgba(134, 126, 232, 0.16) 0%, rgba(134, 126, 232, 0.00) 100%), #06111C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  }
  .coming{
  background-color:#06111C;
  }
  .swiper-slide-active{
      border: 3px solid var(--color-purple, #867EE8);
      border-radius: 16px; 
      background: linear-gradient(90deg, rgba(134, 126, 232, 0.16) 0%, rgba(134, 126, 232, 0.00) 100%), #06111C;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
    }
  .icons{
    border: 2px solid white ;
    color: #F4F4F4;
    background-color:transparent;
    border-radius:100% ;
  }
  .icons:hover{
    background-color: #F4F4F4;
    color: #001926;
  }
 .disabled{
 border:2px solid #808080;
 color:#808080; 
 background-color: transparent;
 border-radius: 100%;       
    }
  .badge{
    padding:8px;
  }
    .bg-complete{
      color: #06111C;
      background-color:#00D98D;
    } 
  .bg-progess{
    color: #06111C;
    background-color:#29D9D0;
  } 
  .bg-coming{
    background-color:#001926;
  } 
  .series{
    color:#867EE8;
  }   
  /* tokenomics */
  .tokenomics-section{
    background-image:url('/asset/images/Ellise.svg');
    width: 100%;
    background-repeat:no-repeat;
    }
    .tokenomics-section .dot {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 100%;}
      .bg-purple{
        background-color: #867EE8;
      }
   .bg-cyan {  
    background-color: #29d9d0;
  }
  .bg-green{
      background-color: #00d98d;
  }
  .bg-blue{
      background-color: #296fd9;
  } 
  /* team section */
  .team-section .card{
    color:white;
    background-color:#001926;
    border-radius: 16px;
  }
  .img-wrapper{
width: 88px;
height: 88px;
background-size: cover;
  }
  /* faq starts */
  #accord-head{
    background-color: #001926 ; 
    box-shadow: none;
    color: #F4F4F4;
    border-radius: 16px;
  }
  
  #accordionExample .accordion-item {
  border-radius:16px;
  background-color: #001926; 
  border:2px solid #001926;
  }
  #accord-head.accordion-button::after{
  background-image:url("/asset/images/chevron-down.svg");
  }
  /* Get started */
  .started-background{
    background-image: url('/asset/images/elie.svg'), url('/asset/images/Ellipse.svg');
    background-size: cover;
    margin-right: 20px;
    width: 100%; 
    border-radius: 20px;  
  }
  .bg-primary:hover{
    background-color:#155BBC!important;
  }
  .text-decoration-underline:hover{
    cursor:pointer;
    color:#BAB8CC!important;
  }
  /* footer starts */
  .footer {
    background-color: #001926;
  }
  @media screen and (max-width: 1199.98px) {
.navbar, ul, li {
        margin: 0 ;
    }
  }
  @media screen and (max-width: 991.97px) {
  h1 {
        font-size: 52px;
    }
    h2{
      font-size: 50px;
    }
    .product-cards-layout {
        padding: 60px;
    }
    .py-12{
      padding-top:100px;
      padding-bottom:100px;
    }
    
    .mb-7{
      margin-bottom:60px;
    }
}
@media screen and (max-width:767.98px) {
 h1{
  font-size: 51px;
 } 
 h2{
font-size: 45px;
 }
 h3{
  font-size: 31px;  
  line-height: 38px;
}
h4{
font-size:19px;
}
h5{
  font-size: 17px;
}
p{
  font-size: 15px;
}
.product-cards-layout{
  padding:45px;
}
.py-12{
  padding-top:80px;
  padding-bottom: 80px;
}
.mb-7{
    margin-bottom: 58px;
}
.mt-4{
  margin-top:16px;
}
.mt-6{
  margin-top:70px ;
}
.shaded-line{
  font-size: 17px;
}
}
  @media screen and (max-width: 575.97px) {
  
    .py-12{
      padding-top:70px;
      padding-bottom:70px;
    }
    .mb-7{
margin-bottom: 57px;
    }
    .mt-4{
      margin-top:15px;
    }
    .mt-6 {
      margin-top: 60px;
    }
    
    .product-cards-layout{
      padding:30px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
    h1{
      font-size: 40px;
    }
    h2{
      font-size:40px ;
    }
    h3{
        font-size: 30px;  
        line-height: 38px;
    }
  h4{
    font-size:18px;
  }
  
h5{
  font-size: 17px;
}
    .shaded-line{
      font-size: 16px;
    }
    .modal-dialog {
        max-width: 100%;
    }
    .navbar ul li {
        margin: 15px 0;
    }
    .modal-body {
        padding: 0;
    }
  .modal-dialog {
          max-width: 100%;
      }
      .modal-body {
          padding: 0;
      }
  }