  html, body {
      margin: 0;
      color:#F4F4F4;
      font-family:"Luxora Grotesk","Inter", sans-serif!important;   
      padding: 0;
      background-color: #06111C;
      overflow-x:hidden ;
  }
  a{
    text-decoration: none;
  }
  img{
    width:auto;
    height:auto;
    max-width: 100%;
  }
  .py-12 {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  p{   
    font-family:"Inter",sans-serif;
    margin:0;
    }  
h1,h2,h3,h4,h5,h6{
  font-family: "Luxora Grostek",sans-serif;
  margin:0;
}
.font-Inter{
  font-family: "Inter",sans-serif;
}
.font-Luxora{
  font-family: "Luxora Grotesk",sans-serif;
}
    .btn{
      padding:12px 24px;
      font-size:16px;
      font-weight: 500;
      border:none;  
      border-radius:16px;
     }
     /* background and colors */
.bg-primary {
background-color: #867EE8!important;
}
.btn-primary{
  background-color: #867EE8!important;
 color:white;
}
.bg-seceondary{
  background-color: #29D9D0;
}
.btn-seceondary{
  background-color: #29D9D0;
color: #06111C;
}
.btn-seceondary:hover{
background-color: #29D9D0;
color: #06111C;
}
.bg-blue{
  background-color:#296fd9;
}
.btn-blue{
  background-color: #296fd9;
  color: white;
}
.btn-blue:hover{
  background: #296fd9;
color: #F4F4F4;
}
.bg-green{
  background-color: #00d98d;
}
.text-primary{
  color:#867EE8!important;
}
.text-seceondary{
  color:#BAB8CC;
}
    .mt-6{
      margin-top:80px;
    }
    .mb-7{
      margin-bottom:64px;
    }
    .fs-20{
      font-size: 20px;
    }
    .fs-22{
      font-size: 22px;
    }
  h1{
      font-size:56px;
      margin: 0;
      font-weight: 600;
  } 
  h2{
    font-size: 56px;
    font-weight:700;
  
  }
  h3{
    font-size:32px;
    font-weight: 500;
  
  }
  h4{
    font-size: 20px;
    margin-top: 5px;
  }
  h5{
    font-size:18px;
    font-weight: 400;
  }
  .navbar {
    background-color: transparent;
    width: 100%;
    padding-top:24px;
   padding-bottom: 24px;
    transition: background-color 0.1s smooth;
  }
  .navbar.scrolled {
    background-color: #06111C;
    padding-top:16px ;
    padding-bottom:16px ;
  }
  .nav-link{
    padding:12px 14px!important;
  }
  
  /* home starts */  
  .hero-section{ 
    background: linear-gradient(180deg, rgba(6, 17, 28, 0) 34.38%, #06111c 100%), url(/asset/images/bgimage.png) center center /cover;
  }

  .featured{
  margin-bottom: 80px;
  margin-right:20px
  }
  .tag-line{
  font-size: 22px;
  margin-bottom:40px;
  padding-top:40px;
  }
  /* Vision starts */
  .vision-line{
      padding: 8px;
      border-left:4px solid #867EE8;
  } 
  .image-wrapper{
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
  .vision-section button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .video .play-button {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        font-size: 20px;
    }
    .modal-dialog {
        max-width: 80%;
    }
    .modal-dialog iframe {
        width: 100%;
        height:100vh;
        aspect-ratio: 16/9;
    }
  /* Products start */
  .product-section{
  background-image:url('/asset/images/Ellips.svg');
  background-repeat:no-repeat;
  width: 100%;
  }
  .product-cards-layout{
    padding:64px;
    background-color:#001926;
    backdrop-filter: blur(10px);
  }
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  /* Roadmap start */
  .roadmap-section .card{
    border-radius: 16px;
    border: 3px;
    padding: 24px;    
    cursor:default;
    background-color: #001926;
  }
  .complete{
    background-color: #001926;
    }
  .progess{
    background: linear-gradient(90deg, rgba(134, 126, 232, 0.16) 0%, rgba(134, 126, 232, 0.00) 100%), #06111C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
  }
.completed{
  background-color: #00d98d;
  color:#06111C ;
}
.coming-soon{
  background-color: #06111C;
  color: #F4F4F4;
}
.swiper-slide-active{
      border: 3px solid  #867EE8;
      border-radius: 16px; 
      background: linear-gradient(90deg, rgba(134, 126, 232, 0.16) 0%, rgba(134, 126, 232, 0.00) 100%), #06111C;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 

    }
.roadmap-section .swiper-button{
    border: 2px solid white ;
    color: #F4F4F4;
    padding: 0;
    width: 36px;
    height: 36px;
    background-color:transparent;
    border-radius:100%;
  }
.swiper-button:hover{
    background-color: #F4F4F4;
    color: #06111C; 
  }
.swiper-button.swiper-button-disabled{
 border-color:#808080;
 background-color:transparent;
 color:#808080; 
    }
  .badge{
    padding:8px;
  }
  /* tokenomics */
  .tokenomics-section{
    background-image:url('/asset/images/Ellise.svg');
    width: 100%;
    background-repeat:no-repeat;
    }
    .tokenomics-section .dot {
      display: inline-block;
      width: 13px;
      height: 13px;
      border-radius: 100%;}
.tokenomics-section.bg-success{
  background:#00d98d; 
}
  /* team section */
  .team-section .card{
    color:white;
    background-color:#001926;
    border-radius: 16px;
  }
  .img-wrapper{
min-width:100px;
height: 100px;
object-fit: cover;
  }
  /* faq starts */
  #accord-head{
    background-color: #001926 ; 
    box-shadow: none;
    color: #F4F4F4;
    border-radius: 16px;
  }
  
  #accordionExample .accordion-item {
  border-radius:16px;
  background-color: #001926; 
  border:2px solid #001926;
  }
  #accord-head.accordion-button::after{
  background-image:url("/asset/images/chevron-down.svg");
  }
  /* Get started */
  .started-background{
    background-image: url('/asset/images/elie.svg'), url('/asset/images/Ellipse.svg');
    background-position:left top, right bottom;
    background-repeat: no-repeat;
    border-radius: 16px;  
  }
  .text-decoration-underline:hover{
    cursor:pointer;
    color:#BAB8CC!important;
  }
  /* footer starts */
  .footer {
    background-color: #001926;
  }
  @media screen and (max-width: 1199.98px) {
.navbar, ul, li {
        margin: 0 ;
    }

  }
  @media screen and (max-width: 991.97px) {
  h1 {
        font-size: 50px;
    }
    h2{
      font-size: 50px;
    }
    .product-cards-layout {
        padding: 60px;
    }
    .py-12{
      padding-top:100px;
      padding-bottom:100px;
    }
    .mb-7{
      margin-bottom:60px;
    }
}
@media screen and (max-width:767.98px) {
 h1{
  font-size: 40px;
 } 
 h2{
font-size: 45px;
 }
 h3{
  font-size: 28px;  
  
}
h4{
font-size:20px;
}
h5{
  font-size: 18px;
}
.gap-4{
  gap: 12px!important;

}
.product-cards-layout{
  padding:45px;
}
.py-12{
  padding-top:80px;
  padding-bottom: 80px;
}
.mb-7{
    margin-bottom: 58px;
}
.mt-4{
  margin-top:16px;
}
.mt-6{
  margin-top:70px ;
}
.fs-22{
  font-size: 20px;
}
.fs-20{
  font-size: 18px;
}
}
  @media screen and (max-width: 575.97px) {
  
    .py-12{
      padding-top:70px;
      padding-bottom:70px;
    }
    .mb-7{
margin-bottom: 57px;
    }
    .mt-4{
      margin-top:15px;
    }
    .mt-6 {
      margin-top: 60px;
    }
    .fs-22{
      font-size: 18px;
    }  
    
.fs-20{
  font-size: 16px;
}
    .product-cards-layout{
      padding:30px;
    }
    h1{
      font-size: 32px;
    }
    h2{
      font-size:32px ;
    }
    h3{
        font-size: 24px;
    }
  h4{
    font-size:20px;
  }
  
h5{
  font-size: 16px;
}
p{
  font-size: 14px;
}
.gap-4{
  gap:10px!important
}
    .modal-dialog {
        max-width: 100%;
    }
    .navbar ul li {
        margin: 15px 0;
    }
    .modal-body {
        padding: 0;
    }
  .modal-dialog {
          max-width: 100%;
      }
      .modal-body {
          padding: 0;
      }
  }